<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon icon-->
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@2.44.0/tabler-icons.min.css">
    <!-- Core Css -->
</head>

<body class="DEFAULT_THEME bg-white">
    <main>
        <!-- Main Content -->

        <div
            class="flex flex-col w-full  overflow-hidden relative min-h-screen radial-gradient items-center justify-center g-0 px-4">
            <div class="justify-center items-center w-full card lg:flex max-w-md ">
                <div class=" w-full card-body rounded-md" [style]="{'background-color': neutralBUserColor}">

                    <p [style]="{'color': neutralWUserColor, 'font-size':subtitleSizeUser}"
                        class="mb-4 text-gray-400 text-sm text-center">Your favorite Channel</p>
                    <!-- form -->
                    <form method="post">
                        <div class="mb-6">
                            <p for="email" [style]="{'color': neutralWUserColor, 'font-size':paragraphSizeUser}"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name
                                User</p>
                            <input #name type="text" id="name"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="john.doe@company.com" required />
                        </div>
                        <div class="mb-6">
                            <p for="email" [style]="{'color': neutralWUserColor, 'font-size':paragraphSizeUser}"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email
                                address</p>
                            <input #email type="email" id="email"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="john.doe@company.com" required />
                        </div>
                        <div class="mb-6">
                            <p for="password" [style]="{'color': neutralWUserColor, 'font-size':paragraphSizeUser}"
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                Password</p>
                            <input #password type="password" id="password"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="•••••••••" required />
                        </div>

                        <div class="grid my-6">
                            <button (click)="nextPage()"
                                [style]="{'color': neutralWUserColor, 'font-size':paragraphSizeUser, 'background-color': secundaryUserColor}"
                                class="btn hover:cursor-pointer py-[10px] text-base text-white font-medium hover:bg-blue-700">Sign
                                In</button>
                        </div>

                        <div class="flex justify-center gap-2 items-center">
                            <p [style]="{'color': neutralWUserColor, 'font-size':paragraphSizeUser}"
                                class="text-base font-semibold text-gray-400">Already have an Account?</p>
                            <a [routerLink]="['/login']" routerLinkActive="router-link-active"
                                [style]="{'color': complementUserColor, 'font-size':paragraphSizeUser}"
                                class="text-sm font-semibold text-blue-600 hover:text-blue-700">Sign In</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!--end of project-->
    </main>

</body>

</html>