<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>


<body class=" bg-surface">
    <main>
        <!--start the project-->
        <div id="main-wrapper" class=" flex p-5 xl:pr-0">
            <aside id="application-sidebar-brand"
                class="hs-overlay hs-overlay-open:translate-x-0 -translate-x-full  transform hidden xl:block xl:translate-x-0 xl:end-auto xl:bottom-0 fixed xl:top-5 xl:left-auto top-0 left-0 with-vertical h-screen z-[999] shrink-0  w-[270px] shadow-md xl:rounded-md rounded-none bg-white left-sidebar   transition-all duration-300">
                <!-- ---------------------------------- -->
                <!-- Start Vertical Layout Sidebar -->
                <!-- ---------------------------------- -->
                <div class="p-4 flex justify-center items-start -mt-12">

                    <a href="../" class="text-nowrap">
                        <img src="../../assets/images/logos/youtube.svg" alt="Logo-Dark" />
                    </a>


                </div>
                <div class="scroll-sidebar" data-simplebar="">
                    <nav class=" w-full flex flex-col sidebar-nav px-4 mt-5">
                        <ul id="sidebarnav" class="text-gray-600 text-sm">

                            <li class="text-xs font-bold pb-[5px]">
                                <i class="ti ti-dots nav-small-cap-icon text-lg hidden text-center"></i>
                                <span class="text-xs text-gray-400 font-semibold">HOME</span>
                            </li>

                            <li class="sidebar-item">
                                <a class=" cursor-pointer sidebar-link gap-3 py-2.5 my-1 text-base  flex items-center relative  rounded-md text-gray-500  w-full"
                                    (click)="toggleComponentVisibility()">
                                    <i class="pi pi-user" style="font-size: 2.5rem"></i><span>Users</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <!-- </aside> -->
            </aside>
            <div class=" w-full page-wrapper xl:px-6 px-0">

                <!-- Main Content -->
                <main class="h-full  max-w-full">
                    <div class="container relative full-container p-0 flex flex-col gap-6">
                        <!--  Header Start -->
                        <header
                            class=" bg-white flex justify-center shadow-md relative rounded-md w-10/12 text-sm py-4 px-6">


                            <!-- ========== HEADER ========== -->

                            <nav class=" w-ful flex items-center justify-between w-11/12" aria-label="Global">

                                <ul class="icon-nav flex items-center gap-4">
                                    <li class="relative xl:hidden">
                                        <a class="text-xl  icon-hover cursor-pointer text-heading" id="headerCollapse"
                                            data-hs-overlay="#application-sidebar-brand"
                                            aria-controls="application-sidebar-brand" aria-label="Toggle navigation"
                                            href="javascript:void(0)">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="24"
                                                height="24"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                                <path
                                                    d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
                                            </svg>
                                        </a>
                                    </li>
                                </ul>
                                <div class="flex items-center gap-4">
                                    <span href="#" class=" text-base font-medium text-slate-900"
                                        aria-current="page">Savedra</span>
                                    <div
                                        class="hs-dropdown relative inline-flex [--placement:bottom-right] sm:[--trigger:hover]">
                                        <a class="relative hs-dropdown-toggle cursor-pointer align-middle rounded-full">
                                            <img class="object-cover w-9 h-9 rounded-full"
                                                src="../../assets/images/profile/user-1.jpg" alt="" aria-hidden="true">
                                        </a>
                                        <div class="card hs-dropdown-menu transition-[opacity,margin] rounded-md duration hs-dropdown-open:opacity-100 opacity-0 mt-2 min-w-max  w-[200px] hidden z-[12]"
                                            aria-labelledby="hs-dropdown-custom-icon-trigger">
                                            <div class="card-body p-0 py-2">
                                                <a href="javscript:void(0)"
                                                    class="flex gap-2 items-center font-medium px-4 py-1.5 hover:bg-gray-200 text-gray-400">
                                                    <i class="ti ti-user  text-xl "></i>
                                                    <p class="text-sm ">My Profile</p>
                                                </a>

                                                <div class="px-4 mt-[7px] grid">
                                                    <a [routerLink]="['/login']" routerLinkActive="router-link-active"
                                                        class="btn-outline-primary font-medium text-[15px] w-full hover:bg-blue-600 hover:text-white">Logout</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </nav>

                            <!-- ========== END HEADER ========== -->
                        </header>

                        <div class="flex h-auto  justify-start items-center p-3  ">
                            <p-dialog header="Header" [modal]="true" #dialog
                                [style]="{ width: '500px', height: '500px',zIndex: 999 }" [(visible)]="showDialog">
                                <ng-template pTemplate="header">
                                    <div class="inline-flex align-items-center justify-content-center gap-2">
                                        <p-avatar
                                            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
                                            shape="circle" />
                                        <span class="font-bold white-space-nowrap">
                                            Amy Elsner
                                        </span>
                                    </div>
                                </ng-template>
                                <span class="p-text-secondary block mb-5">Update your
                                    information.</span>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="userimg" class="font-semibold w-6rem">
                                        Image
                                    </label>
                                    <input pInputText id="img"
                                        class="flex p-2 pl-3 justify-around items-center rounded-md" autocomplete="off"
                                        type="file" accept="image/jpeg, image/jpg, image/png" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="username" class="font-semibold w-6rem">
                                        Name
                                    </label>
                                    <input pInputText id="name"
                                        class="flex w-full p-2 pl-3 justify-around items-center rounded-md"
                                        autocomplete="on" type="text" minlength="3" />
                                </div>
                                <div class="flex relative items-center justify-start gap-2 mb-4">
                                    <label for="userlastname" class="font-semibold w-6rem">
                                        Lastname
                                    </label>
                                    <input pInputText id="lastname" class=" flex-auto rounded-md" autocomplete="on"
                                        type="text" minlength="3" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="ci" class="font-semibold w-6rem">CI</label>
                                    <input pInputText id="ci" class="flex-auto rounded-md" autocomplete="on"
                                        type="number" maxlength="8" pattern="/^\d+$/" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="email" class="font-semibold w-6rem">Email</label>
                                    <input pInputText id="email" class="flex-auto rounded-md" autocomplete="on"
                                        type="email" minlength="3" pattern="/^[^\s@]+@[^\s@]+\.[^\s@]+$/" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="phone" class="font-semibold w-6rem">Phone</label>
                                    <input pInputText id="phone" class="flex-auto rounded-md" autocomplete="on"
                                        type="number" maxlength="11" pattern="/^\d{1,11}$/" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="address" class="font-semibold w-6rem">Address</label>
                                    <input pInputText id="address" class="flex-auto rounded-md" autocomplete="on"
                                        type="text" minlength="3" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="state" class="font-semibold w-6rem">State</label>
                                    <input pInputText id="state" class="flex-auto rounded-md" autocomplete="on"
                                        type="text" minlength="3" />
                                </div>
                                <div class="flex relative items-center justify-around gap-2 mb-4">
                                    <label for="city" class="font-semibold w-6rem">City</label>
                                    <input pInputText id="city" class="flex-auto rounded-md" autocomplete="on"
                                        type="text" minlength="3" />
                                </div>
                                <ng-template pTemplate="footer" class="flex justify-end gap-2">
                                    <button
                                        class=" bg-[#3B82F6] mr-3 text-neutral-100 active:-scale-[0.9] rounded-md p-[5px]"
                                        (click)="toggleShowVisibility()">Save</button>
                                    <button
                                        class="active:border-sky-500 mr-3 active:-scale-[0.9] text-gray-800 rounded-md"
                                        (click)="toggleShowVisibility()">Cancel</button>
                                </ng-template>
                            </p-dialog>
                            @if(showComponent){
                            <div class="flex-col relative justify-center items-center w-10/12">
                                <div class="flex justify-end align-items-center mb-4">
                                    <p-autoComplete [suggestions]="userlist" [dropdown]="true"
                                        (completeMethod)="onFilter($event.query)" field="name">
                                    </p-autoComplete>

                                </div>

                                <p-table #dt [value]="customers" dataKey="id" [rowHover]="true" [rows]="1"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5, 10,20]" [loading]="loading"
                                    [paginator]="true" [filterDelay]="0" [globalFilterFields]="['name', 'city']"
                                    class="w-10/12">


                                    <ng-template pTemplate="header">

                                        <tr>
                                            <th pSortableColumn="avatar" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Avatar
                                                </div>
                                            </th>
                                            <th pSortableColumn="name" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Name

                                                </div>
                                            </th>
                                            <th pSortableColumn="lastname" style="min-width: 14rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Lastname

                                                </div>
                                            </th>

                                            <th style=" min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    DNI
                                                </div>
                                            </th>

                                            <th style=" min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Email
                                                </div>
                                            </th>
                                            <th pSortableColumn="phone" style="min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Phone
                                                </div>
                                            </th>
                                            <th style=" min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    State
                                                </div>
                                            </th>
                                            <th style=" min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    City
                                                </div>
                                            </th>
                                            <th style=" min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Address
                                                </div>
                                            </th>

                                            <th pSortableColumn="status" style="min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Status
                                                </div>
                                            </th>
                                            <th pSortableColumn="status" style="min-width: 10rem">
                                                <div class="flex justify-content-between align-items-center">
                                                    Action
                                                </div>
                                            </th>
                                            <th style="width: 5rem"></th>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="body" let-customer>


                                        <tr *ngFor="let user of (users$ | async); trackBy: trackUser "
                                            class="p-selectable-row" [id]="user?.id">
                                            <td>
                                                <p-avatar [image]="user?.avatar" styleClass="mr-2" size="xlarge"
                                                    shape="circle"></p-avatar>
                                            </td>
                                            <td>
                                                {{ user?.name ?? 'No Name' }}
                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.lastname ?? 'No
                                                    lastname' }}</span>
                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.ci?? 'No dni'
                                                    }}</span>
                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.email ?? 'No email'
                                                    }}</span>

                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.phone ?? 'No phone'
                                                    }}</span>

                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.state ?? 'No state'
                                                    }}</span>

                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle">{{ user?.city ?? 'No city'
                                                    }}</span>

                                            </td>
                                            <td>
                                                <span class="ml-1 vertical-align-middle"> {{ user?.address ?? 'No
                                                    addres' }}</span>

                                            </td>

                                            <td>
                                                <span class="p-column-title">Status</span>
                                                <p-tag [value]="customer?.status"
                                                    [severity]="getSeverity(customer.status)"></p-tag>
                                            </td>
                                            <td>
                                                <div class="flex justify-around items-center">
                                                    <p-button label="sig out" [rounded]="true"
                                                        severity="danger"></p-button>
                                                    <p-button (click)="toggleShowVisibility()" label="Edit" />

                                                </div>
                                            </td>
                                        </tr>

                                    </ng-template>
                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td colspan="8">No customers found.</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                            }

                        </div>
                        <footer>
                            <p class="text-base text-gray-400 font-normal p-3 text-center">
                                The admins of this proyect are: Andres Hurtado, Raul Villanueva
                            </p>
                        </footer>
                    </div>


                </main>
                <!-- Main Content End -->

            </div>
        </div>
        <!--end of project-->
    </main>




</body>

</html>